body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.file-content {
  background-color: #f7f7f7;


  border: 1px solid #ccc;
  padding: 20px;
 /* overflow-x: auto;*/
  white-space: pre-wrap;
  text-align: justify
}
div.parent:hover .element{
display:block
}
.element{
  display: none;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
